ansicolor
ansiwrap
black
boto3
colored
configobj
dataclasses;python_version<"3.7"  # via black
digitalmarketplace-developer-tools>=1.0.1
docker
docker-compose
gnureadline
invoke
mypy
pexpect
pip-tools
prettytable
psutil
psycopg2-binary
pyflakes
PyYAML
redis
requests
ruamel.yaml
